.imgDiv {
    height: 70px;
    width: 70px;
    margin: 0 0 0 5px;
}

.img {
    height: 100%;
    width: 100%;
}

.tier {
    display: flex;
    border: solid white 2.5px;
    border-radius: 5px;
    margin: 5px;
}

.tier>h1 {
    padding: 0 10px;
    display: flex;
    height: 100%;
    width: 20%;
    border-right: white dashed 2.5px;
    align-items: center;
}

.tierItems {
    display: flex;
    padding: 0 0px 0 5px;
    height: 70px;
    width: 80%;
    align-items: center
}

#sec3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.imgDiv:hover {
    opacity: .6;
    cursor: grabbing;
}

body {
    background-color: #242222;
}

#mainHeading {
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
    color: white;
}

label {
    margin-right: 10px;
    color: white;
}

input[type="submit"],
button {
    padding: 8px 16px;
    background-color: #393c39;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}


.tier {
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.tier:hover .delete-btn {
    display: block;
}

#imgFile {
    margin-left: 20px;
}

#frm2 {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

#sec2 form {
    display: flex;
    align-items: center;
    gap: 10px;
}

#sec2 label {
    white-space: nowrap;
}